footer {
    overflow: hidden;
}

.container {
    margin: auto;
    width: 100%;
}

.sns {
    font-size: 0;
    line-height: 0;
    width: 100%;
    margin: auto;
}

.sns li {
    display: inline-block;
    background-color: black;
    padding: 1.5%;
    transition: all 0.15s;
}

.sns li:hover {
    opacity: 0.5;
}

.snsbtn {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-twitter {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cpath d='M17.77 49.334A30.965 30.965 0 011 44.419a22.254 22.254 0 002.61.153 21.95 21.95 0 0013.59-4.683 10.951 10.951 0 01-10.219-7.6 10.966 10.966 0 004.94-.187 10.946 10.946 0 01-8.779-10.724v-.138A10.9 10.9 0 008.1 22.608 10.951 10.951 0 014.712 8.002a31.058 31.058 0 0022.549 11.43A10.947 10.947 0 0145.9 9.455 21.909 21.909 0 0052.847 6.8a10.973 10.973 0 01-4.81 6.052 21.874 21.874 0 006.283-1.723 22.235 22.235 0 01-5.459 5.663q.032.7.032 1.415c0 14.456-11 31.126-31.126 31.126' fill='%23585858'/%3e%3c/svg%3e");
    background-size: 100%;
}

.icon-facebook {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cpath d='M31.528 54.004v-23.72h7.962l1.192-9.244h-9.154v-5.9c0-2.676.743-4.5 4.581-4.5h4.9V2.364a65.555 65.555 0 00-7.139-.36c-7.058 0-11.889 4.308-11.889 12.219v6.817H14v9.244h7.982v23.72z' fill='%23585858'/%3e%3c/svg%3e");
    background-size: 100%;
}

.icon-instagram {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cg transform='translate(-317 -13058)' fill='%23585858'%3e%3cpath d='M345 13064.685c6.942 0 7.765.026 10.506.152a14.391 14.391 0 014.828.9 8.611 8.611 0 014.935 4.935 14.39 14.39 0 01.9 4.828c.125 2.742.151 3.564.151 10.506s-.026 7.765-.151 10.506a14.391 14.391 0 01-.9 4.828 8.611 8.611 0 01-4.935 4.935 14.391 14.391 0 01-4.828.9c-2.741.125-3.563.151-10.506.151s-7.765-.026-10.506-.151a14.391 14.391 0 01-4.828-.9 8.611 8.611 0 01-4.935-4.935 14.391 14.391 0 01-.9-4.828c-.125-2.742-.152-3.564-.152-10.506s.026-7.765.152-10.506a14.391 14.391 0 01.9-4.828 8.611 8.611 0 014.935-4.935 14.39 14.39 0 014.828-.9c2.742-.125 3.564-.152 10.506-.152m0-4.685c-7.061 0-7.947.03-10.72.156a19.085 19.085 0 00-6.311 1.209 13.3 13.3 0 00-7.6 7.6 19.085 19.085 0 00-1.213 6.316c-.127 2.773-.156 3.659-.156 10.72s.03 7.947.156 10.72a19.085 19.085 0 001.209 6.311 13.3 13.3 0 007.6 7.6 19.085 19.085 0 006.311 1.209c2.773.127 3.659.156 10.72.156s7.947-.03 10.72-.156a19.085 19.085 0 006.311-1.209 13.3 13.3 0 007.6-7.6 19.085 19.085 0 001.217-6.311c.127-2.773.156-3.659.156-10.72s-.03-7.947-.156-10.72a19.085 19.085 0 00-1.209-6.311 13.3 13.3 0 00-7.6-7.6 19.085 19.085 0 00-6.314-1.214c-2.773-.127-3.659-.156-10.72-.156z'/%3e%3cpath d='M345.001 13072.649a13.352 13.352 0 1013.352 13.352 13.352 13.352 0 00-13.352-13.352zm0 22.018a8.667 8.667 0 118.667-8.667 8.667 8.667 0 01-8.667 8.667z'/%3e%3ccircle cx='3.12' cy='3.12' r='3.12' transform='translate(355.759 13069.001)'/%3e%3c/g%3e%3c/svg%3e");
    background-size: 100%;
}

.icon-line {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cpath d='M55.575 24.144C55.575 11.934 43.334 2 28.287 2S1 11.934 1 24.144c0 10.947 9.708 20.115 22.821 21.848.889.192 2.1.586 2.4 1.346a5.608 5.608 0 01.088 2.467s-.32 1.926-.39 2.336c-.119.689-.548 2.7 2.363 1.471s15.715-9.253 21.44-15.843c3.959-4.337 5.853-8.738 5.853-13.625zm-36.915 6.52a.531.531 0 01-.53.531h-7.647a.528.528 0 01-.367-.148l-.008-.007-.007-.008a.526.526 0 01-.149-.367v-11.89a.531.531 0 01.531-.531h1.914a.532.532 0 01.531.531v9.443h5.2a.531.531 0 01.53.531zm4.615 0a.531.531 0 01-.531.53h-1.915a.531.531 0 01-.531-.53v-11.89a.531.531 0 01.531-.53h1.915a.531.531 0 01.531.53zm13.174 0a.531.531 0 01-.531.53h-1.914a.525.525 0 01-.136-.018h-.008l-.036-.012-.016-.006-.026-.011-.025-.013-.015-.008-.033-.02h-.005a.507.507 0 01-.135-.131l-5.456-7.368v7.062a.531.531 0 01-.532.53h-1.914a.531.531 0 01-.531-.53v-11.89a.531.531 0 01.531-.53h2.01l.031.007h.018l.031.01.017.006.031.013.017.008.028.016.016.01.027.019.014.01a.3.3 0 01.028.024l.01.009.032.033a.569.569 0 01.041.054l5.449 7.359v-7.064a.531.531 0 01.531-.53h1.914a.531.531 0 01.531.53zm10.569-9.975a.531.531 0 01-.531.531h-5.2v2.01h5.2a.531.531 0 01.531.532v1.914a.531.531 0 01-.531.531h-5.2v2.01h5.2a.531.531 0 01.531.531v1.915a.531.531 0 01-.531.531h-7.643a.528.528 0 01-.367-.149l-.008-.007-.007-.008a.528.528 0 01-.149-.367V18.776a.528.528 0 01.148-.366l.008-.009.006-.006a.528.528 0 01.369-.15h7.647a.531.531 0 01.531.532z' fill='%23585858'/%3e%3c/svg%3e");
    background-size: 100%;
}

.icon-youtube {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cpath d='M27.838 46.245c-5.955-.188-11.619-.334-17.282-.553a19.617 19.617 0 01-3.65-.521 6.055 6.055 0 01-4.57-4.066 21.643 21.643 0 01-1.033-5.455 105.27 105.27 0 01-.188-13.079 32.656 32.656 0 01.824-7.332 7.551 7.551 0 012.034-3.859 6.758 6.758 0 014.276-1.825c4.464-.219 8.918-.49 13.382-.532 6.008-.063 12.026.021 18.033.136a72.031 72.031 0 017.791.521 6.064 6.064 0 015.055 3.92 18.326 18.326 0 011.147 5.486 104.481 104.481 0 01.188 14.112 30.357 30.357 0 01-.907 7.113 6.6 6.6 0 01-5.142 5.038 18.943 18.943 0 01-3.254.355c-5.67.201-11.332.375-16.704.541zM22.07 34.387c4.756-2.461 9.46-4.9 14.258-7.395-4.787-2.5-9.491-4.954-14.258-7.447z' fill='%23585858'/%3e%3c/svg%3e");
    background-size: 100%;
}

.icon-mail {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3e%3cg fill='none'%3e%3cpath d='M7 9h42.708a3 3 0 013 3v31.884a3 3 0 01-3 3H7a3 3 0 01-3-3V12a3 3 0 013-3z'/%3e%3cpath d='M8 13v29.884h40.708V13H8M7 9h42.708a3 3 0 013 3v31.884a3 3 0 01-3 3H7a3 3 0 01-3-3V12a3 3 0 013-3z' fill='%23585858'/%3e%3cpath d='M7.5 18.842l20.743 10.372 20.743-10.372' stroke='%23585858' stroke-linecap='square' stroke-linejoin='round' stroke-width='4'/%3e%3c/g%3e%3c/svg%3e");
    background-size: 100%;
}

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 50%;
    margin: auto;
}

.footer .row ul li {
    display: inline-block;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .sns {
        text-align: center;
    }

    .footer .row ul {
        width: 100% !important;
    }

    .footer .row ul li {
        display: block;
        margin: 5px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}